
.field {
  display: block;
  margin-top: 5px;
}

.container {
  display: inline-block;
}

.form {
  margin-top: 20px;
}

.frame :nth-child(1) {
  margin-top: 8px;
}

.button {
  border-radius: 5px;
  margin-top: 20px;
}
